<article class="card card-block {% if subject.vote < 0 %}Negative{% endif %}">
    <a href="{{ path('subject_single', {id:subject.id}) }}"> 
        <h3 class="card-title">{{ subject.title }}</h3> 
    </a>
    <a href="{{ path('subject_delete', {id:subject.id}) }}"> Supprimer </a>
    <section class="card-text">{{ subject.description }}</section>
    <span class="card-text">
        <small class="text-muted">
            {{ subject.updatedAt|localizeddate }}
        </small>
        <p>{{ subject.vote }}</p>
        <a href="{{ path('subject_upvote', {id:subject.id}) }}"> up </a>
        <a href="{{ path('subject_downvote', {id:subject.id}) }}"> down </a>

    </span>
</article>